In [17]:
import pandas as pd
import numpy as np
import nltk.data
import codecs
import os

In [12]:
df = pd.read_csv('sampledata.csv')
df1= pd.read_csv('output.csv',header=None)
df

,Item Code,Description,Brand Name,Grammage,Sample MRP,discount,Selling Price,Barcode
0,2240,ADIDAS DYNAMIC PULSE SH GEL 250ML,Adidas,250 ml,87,10%,78.3,4.808230e+11
1,4890,Adidas Dynamic Pulse Shower Gel 250 Ml,Adidas,250 ml,30,10%,27.0,5.538850e+11
2,80330,ADIDAS EXTREME POWER AFTER SHAVE LOTION 100 ML,Adidas,100 ml,50,20%,40.0,7.565880e+11
3,3527,Adidas Extreme Power Deodorant 150 Ml,Adidas,150 ml,35,10%,31.5,9.207390e+11
4,90775,Jovees Gold 24 Carat Massage Gel 100 Gm,Jovees,100 gm,245,30%,171.5,1.910410e+11
5,4034,Jovees Gold 24 Carat Massage Gel 50 Gm,Jovees,50 gm,150,20%,120.0,6.168420e+11
6,234311,Jovees Gold 24 Carat Mini Facial Kit 75 Gm,Jovees,75 gm,141,10%,126.9,9.921100e+11
7,5159,KARACHI BAKERY TRIPLE DELIGHT BISCUITS 600GM,Karachi Bakery,600 gm,125,10%,112.5,3.969400e+11
8,127484,KARACHI BAKERY TRIPLE DELIGHT FRUIT BISCUIT WI...,Karachi Bakery,500 gm,186,20%,148.8,9.206510e+11
9,215,KESH KING-ALOE VERA HERBAL SHAMPOO 100ML PACK ...,Kesh King,100 ml,203,10%,182.7,9.840820e+11
10,16547,Dove Honey Shampoo 400Ml Pump,Dove,400 ml,360,20%,288.0,9.840820e+11

In [13]:
df1

,0,1,2
0,Search Term,Boosting,Results
1,Shampoos less than 300 rs,Brand Name == Dove,NaN
2,Shampoos less than 300 rs,None,NaN
3,Adidas,None,NaN
4,Biscuits,NaN,NaN
5,Chocolate Biscuits,NaN,NaN
6,Facial Kit,NaN,NaN
7,Gold Massage less than 150 rs,NaN,NaN
8,Gold Massage with more than 25% discount,NaN,NaN
9,Gold Massage with more than 25% discount and l...,NaN,NaN

In [14]:
df['Description'].str.lower()

0                     adidas dynamic pulse sh gel 250ml
1                adidas dynamic pulse shower gel 250 ml
2        adidas extreme power after shave lotion 100 ml
3                 adidas extreme power deodorant 150 ml
4               jovees gold 24 carat massage gel 100 gm
5                jovees gold 24 carat massage gel 50 gm
6            jovees gold 24 carat mini facial kit 75 gm
7          karachi bakery triple delight biscuits 600gm
8     karachi bakery triple delight fruit biscuit wi...
9     kesh king-aloe vera herbal shampoo 100ml pack ...
10                        dove honey shampoo 400ml pump
Name: Description, dtype: object

In [16]:
np.savetxt(r'C:\Users\Mahe\Desktop\Interview\Hackathon\MishMash\tokens.txt', df['Description'], fmt='%s')

In [25]:
a_list = nltk.tokenize.sent_tokenize('C:\\Users\\Mahe\\Desktop\\Interview\\Hackathon\\MishMash\tokens.txt')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-25-49b77b4d94a2>, line 1)